window {
    background-color: rgba(0, 0, 0, 0.0);
}

button {
    background-color: rgba(220, 220, 220, 0.85);
    background-image: none;
    border-radius: 0;
    margin: 1px;
    padding: 12px;
}

.layer1 {
    background-color: rgba(229, 242, 242, 0.85);
}

.layer2 {
    background-color: rgba(249, 234, 174, 0.85);
}

.toggled {
    background-color: rgba(239, 231, 218, 0.9);
}

button>label {
    color: black;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

button:active {
    background-color: rgb(255, 255, 255, 0.9);
}

button:checked {
    background-color: rgb(255, 255, 255, 0.9);
}
